import Lyh{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Lyh{{properCase name}}',
  component: Lyh{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Lyh{{properCase name}} },
  template: `
    <div>
      <lyh-{{name}}></lyh-{{name}}>
    </div>
  `
})